.gm-postUrlForm {
  margin: -10px -20px;
}
.gm-postUrlForm__field {
  position: relative;
}
.gm-postUrlForm__input {
  background: rgba(255,255,255,0.7);
  border: none;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 75px 10px 20px;
  width: 100%;
}
.gm-postUrlForm__input:focus {
  outline: 1px dotted #000;
}
.gm-postUrlForm__submit {
  right: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.gm-postUrlForm__validationMessage {
  color: #D50000;
  margin: 5px 20px;
}
