.gm-button {
  background: #D81B60;
  border: none;
  color: #fff;
  font-size: 12px;
  line-height: normal;
  padding: 5px 10px;
  cursor: pointer;
}

.gm-button:focus,
.gm-button:hover {
  outline: none;
  background: #AD1457;
}

.gm-button--secondary {
  background: #607D8B;
}
.gm-button--secondary:focus,
.gm-button--secondary:hover {
  background: #455A64;
}