.gm-button {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.7);
  font-size: 12px;
  line-height: normal;
  padding: 5px;
  cursor: pointer;
}

.gm-button:focus,
.gm-button:hover {
  outline: none;
  background: rgba(255, 255, 255, 0.95);
}
